[Unit]
Description=Confirmerator Blockchain Notifications Push Service
After=network.target

[Service]
Type=simple
PrivateTmp=true
User=confirmerator
EnvironmentFile=/etc/confirmerator.env
ExecStart=/usr/local/bin/confirmerator_push

[Install]
WantedBy=multi-user.target