[Unit]
Description=Confirmerator Blockchain Notifications API Service
After=network.target

[Service]
Type=simple
PrivateTmp=true
EnvironmentFile=/etc/confirmerator_api.env
ExecStart=/usr/local/bin/confirmerator_api

[Install]
WantedBy=multi-user.target